<h4 class="sidebar-summary">{{localize "PF2E.SpellSummary"}}</h4>

<span class="item-summary">{{lookup spellLevels data.level.value }}</span>
<span class="item-summary">{{lookup spellSchools data.school.value}}</span>
<span class="item-summary">{{lookup spellTypes data.spellType.value}}</span>
<span class="item-summary">{{data.time.value}}</span>

<ol class="item-tags">
{{#each spellComponents}}
    <li class="tag">{{this}}</li>
{{/each}}
</ol>

<ol class="item-tags">
    {{#if data.prepared.value}}
    <li class="tag">{{localize "PF2E.SpellPreparedLabel"}}</li>
    {{/if}}

    {{#if data.concentration.value}}
    <li class="tag">{{localize "PF2E.SpellConcentrationLabel"}}</li>
    {{/if}}

    {{#if data.ritual.value}}
    <li class="tag">{{localize "PF2E.SpellRitualLabel"}}</li>
    {{/if}}
</ol>
